Subject: Reset Your Church Finance App Password

Hello {{ user.get_full_name|default:user.username }},

You recently requested to reset your password for your Church Finance App account. We're here to help!

To reset your password, please click the secure link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours for security purposes.

If you didn't request this password reset, please ignore this email. Your account remains secure.

For your security:
- Never share your password with anyone
- Use a strong, unique password
- Log out when using shared computers

If you continue to have trouble accessing your account, please contact your church administrator for assistance.

Best regards,
Church Finance App Support Team

---
This is an automated message. Please do not reply to this email.
